.contact_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-inline: 2rem;

  .contact_form {
    padding-block: 2rem;

    .contact_form_input_container {
      position: relative;
      width: 100%;
      height: 50px;
      margin-bottom: 2rem;

      .contact_form_input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 1.2rem;
        color: var(--grey);
        padding-left: 1rem;
        border: none;
        border-bottom: 1px solid var(--grey);
        outline: none;
        background-color: transparent;
        z-index: 1;

        &::placeholder {
          color: transparent;
        }

        &:focus + .contact_form_label {
          top: -0.6rem;
          left: 0;
          font-size: 1rem;
          color: var(--orange);
          z-index: 10;
        }

        &:not(:placeholder-shown) + .contact_form_label {
          top: -0.6rem;
          left: 0;
          font-size: 1rem;
          color: var(--orange);
        }
      }

      .contact_form_textarea {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 150px;
        font-size: 1.2rem;
        padding: 1rem;
        border: none;
        border-bottom: 2px solid var(--grey);
        outline: none;
        background-color: transparent;
        resize: none;
        z-index: 1;

        &::placeholder {
          color: transparent;
        }

        &:focus + .contact_form_label {
          top: -0.6rem;
          left: 0;
          font-size: 1rem;
          color: var(--orange);
          z-index: 10;
        }

        &:not(:placeholder-shown) + .contact_form_label {
          top: -0.6rem;
          left: 0;
          font-size: 1rem;
          color: var(--orange);
        }
      }

      .contact_form_label {
        position: absolute;
        top: 1rem;
        left: 1rem;
        font-size: 1.2rem;
        color: rgb(158, 158, 158);
        transition: 0.2s;
        z-index: 0;
      }
    }

    .contact_btn_container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 9rem;
      width: 100%;

      .contact_btn_captcha_container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        p {
          font-size: 1.2rem;

          span {
            padding-inline: 0.5rem;
            letter-spacing: 2px;
            font-size: 1.4rem;
            color: var(--orange);
          }
        }

        .contact_captcha_input {
          width: 100%;
          text-align: center;
          outline: none;
          border: none;
          font-size: 1.3rem;
          letter-spacing: 5px;
          color: var(--grey);
          padding: 1rem;
          border-bottom: 1px solid;

          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            appearance: none;
          }
        }
      }
    }
  }
}

@keyframes checkmarck {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 0.75rem;
    opacity: 1;
  }
}

@keyframes checkmarck2 {
  from {
    width: 0;
  }
  to {
    width: 1.5rem;
  }
}

@media (width >= 992px) {
  .contact_container {
    .contact_form {
      .contact_btn_container {
        flex-direction: row;
      }
    }
  }
}
